@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .flex {
    display: flex;
  }

  /*.............................HEADER.......................*/

  .header-container {
    align-items: center;
  }
  .header-navigation {
    display: flex;
  }

  /* Навигация */
  .header-list {
    display: flex;
    margin-left: 76px;
  }

  .header-item {
    margin-right: 40px;
  }

  .header-item:last-child {
    margin-right: 0;
  }

  .header-link {
    position: relative;

    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    transition: color var(--typical-transition);
  }

  .header-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state-color);
    opacity: 0;

    transition: opacity var(--typical-transition);
  }

  .header-link:hover::after {
    opacity: 1;
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--pressed-state-color);
  }

  a.current {
    color: var(--pressed-state-color);
  }

  a.current::after {
    opacity: 1;
  }

  /* Контакты */
  .address-contacts {
    font-style: normal;
    margin-left: auto;
  }

  .contacts-list {
    display: block;
  }

  .contacts-mail-phone {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.04em;
    color: var(--primery-text-color);
    transition: color var(--typical-transition);
  }

  .contacts-mail-phone:hover,
  .contacts-mail-phone:focus {
    color: var(--pressed-state-color);
  }
  .contacts-mail {
    display: block;
    margin-bottom: 12px;
  }
  .menu-open-btn,
  .mobile-menu {
    display: none;
  }
  /*.............................MAIN.......................*/
  /*.............................HERO.......................*/
  .hero-section {
    height: 436px;
    max-width: 768px;
  }
  
  .hero-title {
    margin-bottom: 36px;
    width: 496px;

    font-size: 56px;
    line-height: 1.07;
  }


  /*.............................SECTIONS.......................*/
  /*.............................OUR PRINCIPLES.......................*/

  .our-principles-item > .section-subtitle {
    text-align: start;
  }
  .our-principles-list {
    flex-wrap: wrap;
    gap: 24px;
  }
  .our-principles-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  /*.............................TEAM.......................*/

  .team-section-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  /*.............................COSTUMERS.......................*/
  .customers-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
  /*............................./MAIN.......................*/

  /*.............................FOOTER.......................*/
  .footer-container {
  flex-wrap: wrap;
  }
  .footer-text {
    margin-bottom: 0;
  }
  .footer-logo-box {
    margin-left: 108px;
    margin-bottom: 72px;
  }

  .footer-container-soc {
    margin-left: 24px;
  }
  /*.............................FOOTER FORM.......................*/
  .form-wrap {
    margin-left: 108px;
  }
  
  .footer-form {
    display: flex;
  }
  .footer-input {
    width: 264px;
  }
  .footer-btn {
    margin-left: 24px;
  }
  /*.............................MODAL.......................*/
  .modal {
    padding: 72px 24px 24px 24px;
  }
}
@media screen and (max-width: 1199px) {
.contacts-mail {
  display: block;
  padding-top: 16px;
  margin-bottom: 12px;
}
.contacts-phone {
  display: block;
  padding-bottom: 16px;
}
}
